nav.ps-top
  .ps-bar.ps-white.ps-padding.ps-card.ps-nav
    a(href="/#" class="ps-bar-item ps-button") Pimienta & Sal
    .ps-right.ps-hide-small
      a(href="/#about" class="ps-bar-item ps-button") About
      a(href="/#menu" class="ps-bar-item ps-button") Menu